/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require trix

 */
@import 'foundation-icons';
@import 'foundation_and_overrides';
@import 'trix';

.a {
  padding: 0;
}

a:visited {
     color: #FFF !important;
}

.footer {
  background-color: #2199E8;
  text-align: center;
  font-size: 1.2rem;

  .social a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #8CADC1;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    margin: 0 3px 0 0;
  }

  .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    margin: 0;
    font-size: 0.875rem;

    &::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem;
    }

    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }

  @media only screen and (min-width: 40.063em) {
    padding: 1rem;

    p {
      text-align: left;
    }

    .social {
      text-align: left;
      margin: 0;
    }

  }
}
